* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body {
  font-family: Manrope;
  overflow-x: hidden;
  background-color: #333;
}
.music {
  display: grid;
  grid-template-columns: 10rem 1fr;
}
.sidebar {
  background-color: white;
  min-height: 100vh;
}
.dashboard {
  background-color: rgb(48, 48, 48);
  min-height: 100vh;
  color: white;
}
.songs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  justify-items: center;
  gap: 1rem;
  width: 95%;
  margin: 1rem auto;
}
.cover_pic {
  width: 100%;
}
.song {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(97, 97, 97);
  color: white;
  animation: from-down 1s 1;
}
@keyframes from-down {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.song_title {
  font-weight: bold;
}
/* OVERLAY */
.overlay {
  background-color: #00000050;
  font-size: 3rem;
}
.half {
  opacity: 0.5;
}
.zero {
  opacity: 0;
}
.overlay:hover {
  opacity: 0.5;
}

/* PLAYER PART */
.player {
  height: 6rem;
}
.player_part {
  height: 6rem;
  background-color: rgb(22, 22, 22);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 2rem;
  color: white;
}
.song_details {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.song_details img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  animation: roll 4s infinite;
  border: 1px solid rgb(0, 169, 175);
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.song_name {
  font-weight: 700;
}
.song_artist {
  font-weight: 400;
  font-size: 0.8rem;
}
.volume {
  justify-self: end;
}
.controls {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.current_time {
  width: 15rem;
}
.volume_range {
  width: 12rem;
}

/* SONG DETAILS */
.songDetails {
  color: white;
  padding-left: 2rem;
  background-size: cover;
  background-color: rgba(51, 51, 51, 0.521);
}
.songDetails h1 {
  margin: 1rem 0 2rem;
}
.open_lyrics {
  border: none;
  color: black;
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem 0;
}
.blur {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  filter: blur(20px);
}

/* RELATED */
.related_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 30rem;
  margin: 1rem 0;
  background-color: rgba(51, 51, 51, 0.56);
  padding: 0.5rem;
}
.related_left {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.relate_play {
  font-size: 1.5rem;
}
